@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;
}

html[data-theme='dark'] {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}

/* .grid-line{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: [first] 15% [line2] 20% [line3] auto [col4-start] 20% [five] 15% [end];
  grid-template-rows: [row1-start] 25% [row1-end] 20% [another] 400px [third-line] auto [last-line];
} */

/* .home-container{
  grid-column-start: line2;
  grid-column-end: five;
  grid-row-start: row1-end;
  grid-row-end: last-line;
} */

.my-picture{
  width: 100px;
  height: 100px;
}

.slide{
  max-width: 250px;
  max-height: 500px;
}

.project-img{
  height: 200px;
  width: 100%;
}

.navbar-container{
  right: 0;
}

.goTopBtn{
  background-color: transparent;
}

/* ---------------------------- Timeline styling ------------------------------- */
.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
  text-align: center;
}

.timeline{
  text-align: center;
  font-size: 32px;
}

.bio-title{
  margin-top: 20px;
}

.timeline-container::after {
  background-color: #acacac;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
  text-align: right;
}

.timeline-item-content::after {
  content: ' ';
  background-color: #4d4d4d;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline-item-content a {
  font-size: 14px;
  font-weight: bold;
}

.timeline-item-content a::after {
  content: ' ►';
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #5f5f5f;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

/* ---------------Responsive setting for ipad and laptops -------------------- */
@media only screen and (max-width: 1023px) {
  .timeline-item-content {
      max-width: 100%;
  }
}


/* --------------- Responsive setting for Mobile phones ---------------------- */
@media screen and (max-width: 768px){
  .project-box{
    flex-direction: column;
  }

  .navbar-container{
    bottom: 0;
    right: 0;
  }

  .navbar{
    display: flex;
    margin: 0;
    padding: 1px;
    background-color: rgb(63, 63, 63);
    flex-direction: column;
    border-radius: 0;
    justify-content: center;
    align-items: center;
  }
  
  .navbar li{
    margin: 10px;
    color: white;
  }

  .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        padding:10px;
        text-align: center;
        align-items: center;
    }
    
    .timeline-item-content time {
        margin-top: 20px;
    }

    .timeline-item-content a {
        text-decoration: underline;
    }

    .timeline-item-content a::after {
        display: none;
    }
}